<div class="main-content">
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">
               <div class="card">
                   <div class="card-header card-header-danger">
                       <h4 class="card-title ">Mis Órdenes</h4>
                       <p class="card-category"> Listado de sus órdenes realizadas</p>
                   </div>
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table">
                               <thead class=" text-primary">
                                   <!--<th>ID</th>-->
                                   <th>Paquete</th>
                                   <th>Fecha</th>
                                   <th>Total</th>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>Usuario</td>
                                       <td>Producto</td>
                                       <td class="text-primary">$36,738</td>
                                   </tr>
                                   <tr *ngFor="let compra of compras">
                                    <td>{{ compra.usuario }}</td>
                                    <td>{{ compra.producto }}</td>
                                    <td class="text-primary">{{ compra.monto | currency:'RD$ ':'symbol':'4.2-2' }}</td>
                                </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>