<div class="main-content">
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">
               <div class="card">
                   <div class="card-header card-header-danger">
                       <h4 class="card-title ">Mis Órdenes</h4>
                       <p class="card-category"> Listado de sus órdenes realizadas</p>
                   </div>
                   <div class="card-body">
                       <div class="table-responsive">
                           <table class="table">
                               <thead class=" text-primary">
                                   <th>ID</th>
                                   <th>Paquete</th>
                                   <th>Fecha</th>
                                   <th>Total</th>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>1</td>
                                       <td>Cumpleaños</td>
                                       <td>01-08-2020</td>
                                       <td class="text-primary">$36,738</td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>